extends ../pug/layouts/default
include ../pug/helpers/mixins


block variables
	- const title = "About us";
	- const bodyClass = "about-us";

block content

	//Header BEGIN
	include ../blocks/header/header
	//Header END
	
	//Page content BEGIN
	include ../blocks/pages/about-us/about-us
	//Page content END

	//Footer BEGIN
	include ../blocks/footer/footer
	//Footer END



block append scripts
	script(src="js/common.js")
	script(src="js/about-us.js")
