header.header
	.header__inner

		a(href="index.html" target="_blank" rel="noreferrer").header__wrap-logo
			picture
				source(srcset="img/logo.webp", type="image/webp")
				source(srcset="img/logo.png", type="image/png")
				img.header__logo-img(src="img/logo.png", alt="")

		.header__nav
		.header__btn
