* {
  box-sizing: border-box
}

html {
  font-size: 16px;

  @include media (xl) {
    font-size: 14px;
  }

  &.page-fixed {
    overflow: hidden;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  line-height: 24px;
  color: $default-text;
  font-kerning: normal;
  overflow-x: hidden;
  transition: .4s opacity ease;

  @include media (xl) {
    line-height: 22px;
  }

  &.page-fixed {
    overflow-y: scroll;
  }

  &.visible {
    opacity: 1;
  }
}

img.lazy {
  transition: .6s all ease;
  opacity: 0;

  &.loaded,
  &.loading {
    opacity: 1;
  }
}

.el-disabled {
  pointer-events: none;
}

.image-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s all ease;
  width: 90px;
  height: auto;
}

.image-load {
  opacity: 1;

  + .image-preloader {
    opacity: 0;
  }
}

::selection {
  background-color: $accent;
  color: #fff;
}